h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:blue;
    width: fit-content;
    margin:auto;
}
h2{
    color:rgb(49, 54, 128);
    margin-left: 30%;
}
h3{
    margin-left: 25%;
}
h4{
    margin-left: 20%;
}
h5{
    margin-left:15%;
}
h6{
    margin-left: 10%;
}
.google{
    border-radius: 40px;
    background-color: aqua;
    width:10%;
    height:40px;
    background: linear-gradient(to left, aqua 50%, green 50%) right;
    background-size: 200%;
    transition: .4s linear;
   
}
.google:hover{
    border-radius: 40px;
    width: 20%;
    background-position: left;
}
details>p{
    background-color: aqua;
    width: fit-content;
}
